<li [ngClass]="{'list-group-item': true,
              'list-group-item-success': getColor() === 'green',
              'list-group-item-danger': getColor() === 'red'}">

    <h4 [ngStyle]="{color: getColor()}">{{ postName }}</h4>

    <p class="date">{{ lastUpdate | date: 'short' }}</p>

    <p>{{ postContenu }}</p>

    <button class="btn btn-success" 
            style="margin-right:20px"
            (click)="onLike()">I love it ! ({{ getLike() }})</button>
    <button class="btn btn-danger"
            (click)="onUnlike()">I don't love it ! ({{ getUnlike() }})</button>
  </li>